<table class="table table-hover">
    <thead>
        <tr>
            <th>ID послуги</th>
            <th>Назва</th>
            <th>Загальна кількість записів</th>
            <th>Виконані записи</th>
            <th>Скасовані записи</th>
            <th>Записи в очікуванні</th>
            <th>Загальний дохід</th>
            <th>Чистий прибуток</th>
        </tr>
    </thead>
    <tbody>
        {% for result in service_registration %}
        <tr>
            <td>{{ result.service_id }}</td>
            <td>{{ result.service_name }}</td>
            <td>{{ result.total_registrations }}</td>
            <td>{{ result.completed_registrations }}</td>
            <td>{{ result.cancelled_registrations }}</td>
            <td>{{ result.pending_registrations }}</td>
            <td>{{ result.total_income }} грн.</td>
            <td>{{ result.net_income }} грн.</td>
        </tr>
                 {% empty %}
        <tr>
            <td colspan="4">Дані відсутні</td>
        </tr>
        {% endfor %}
       {% for result in total %}
        <tr>
            <td colspan="2"><strong>Сума:</strong></td>
            <td><strong>{{ result.total_registrations }}</strong></td>
            <td><strong>{{ result.completed_registrations }}</strong></td>
            <td><strong>{{ result.cancelled_registrations }}</strong></td>
            <td><strong>{{ result.pending_registrations }}</strong></td>
            <td><strong>{{ result.total_income }}</strong></td>
            <td><strong>{{ result.net_income }}</strong></td>
        </tr>
    {% endfor %}
    </tbody>
</table>